In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sec_a=np.array([75,65,73,68,72])
sec_b=np.array([90,47,43,96,93])

In [8]:
# calculating standard deviation
np.std(sec_a),np.std(sec_b)

(np.float64(3.6110940170535577), np.float64(23.625410049351526))

In [7]:
#calculating variance 
np.var(sec_a),np.var(sec_b)

(np.float64(13.040000000000001), np.float64(558.1600000000001))

In [9]:
dataset=pd.read_csv('./titanic.csv')
dataset.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
dataset['Age'].var()

np.float64(211.01912474630802)

In [11]:
dataset['Age'].std()

np.float64(14.526497332334042)

In [12]:
dataset['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64